@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "lateef";
    src: url("../../public/fonts/Lateef-ExtraLight.ttf");
}
@font-face {
    font-family: "zilla-slab-italic";
    src: url("../../public/fonts/ZillaSlab-LightItalic.ttf");
}
@font-face {
    font-family: "zilla-slab";
    src: url("../../public/fonts/ZillaSlab-Light.ttf");
}
@font-face {
    font-family: "jost";
    src: url("../../public/fonts/Jost-SemiBold.ttf");
}